<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}{% endblock %}</title>
		<!--Bootstrap and jquery -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
		<!-- end include -->
	</head>
	<header>
		{% include "header.html" %}
	</header>
	
	<body>
		<div class = "jumbotron">
			<div class = "container">
				{% block content %}
				{% endblock %}
			</div>
		</div>
	</body>
	
	<footer>
		{% include "footer.html" %}
	</footer>
</html>